

.nav-icon {
    width: 12px;
    height: 12px;
    margin-right: 4px; 
}

.font-name {
    color: black;
    font-size: 12px !important; 
    

}



.hr-light-secondary {
    background-color: #c5c5c5c9; 
    opacity: 1; 
}


.nav-item .nav-link {
    padding-top: 0.5rem;
    margin-left: 9px;
    margin-bottom: -20px !important;
    font-weight: bold;
    
}




.logo-siop {
    width: 40px; 
    height: 40px;
    object-fit: contain; 
    
}

.siop-title {
    font-size: 0.90rem; 
    line-height: 1.5; 
    font-family: Arial, Helvetica, sans-serif;
    color: #000000 !important; 
}

.siop-subtitle {
    font-size: 7px;
    font-weight: 400;
    line-height: 1.7; 
    color: #7e7e7e !important; 
    font-family: Arial, Helvetica, sans-serif;


    
}

/* Ajuste do sidebar-brand para alinhar à esquerda */
.sidebar .sidebar-brand {
    padding: 1.2rem 1rem; /* Ajuste o padding conforme a necessidade */
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    height: auto; /* Remove altura fixa se houver */
}

