.nav-icon {
    width: 12px;
    height: 12px;
    margin-right: 4px; 
}

.font-name {
    color: black;
    font-size: 12px !important; 
    

}



.hr-light-secondary {
    background-color: hsla(0, 0%, 77%, 0.788); 
    opacity: 1; 
}


.nav-item .nav-link {
    padding-top: 0.5rem;
    margin-left: 9px;
    margin-bottom: -20px !important;
    font-weight: bold;
    
}




.logo-siop {
    width: 40px; 
    height: 40px;
    object-fit: contain; 
    
}

.siop-title {
    font-size: 0.90rem; 
    line-height: 1.5; 
    font-family: Arial, Helvetica, sans-serif;
    color: #000000 !important; 
}

.siop-subtitle {
    font-size: 7px;
    font-weight: 400;
    line-height: 1.7; 
    color: #7e7e7e !important; 
    font-family: Arial, Helvetica, sans-serif;


    
}

/* Ajuste do sidebar-brand para alinhar à esquerda */
.sidebar .sidebar-brand {
    padding: 1.2rem 1rem; /* Ajuste o padding conforme a necessidade */
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    height: auto; 
}



/* topbar */

.Dashboard-title{
    color: #000000 !important; 
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.Dashboard-subtitle{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #7e7e7e !important; 

}

/*tela de importacao*/
.nav-icon-import{
    height: 17x;
    width: 17px;
}


.font-name-import{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000 !important;
    font-weight: bold;
    font-size: 20px;


}

 .font-name-import-two{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000 !important;
    font-weight: bold;
    font-size: 15px;
 }


.container-import{
    border: 2px dashed #bdbdbd !important;
    border-radius: 5px;
    
    
}

.container-import:hover{
    border: 2px dashed #007dea !important;

}

.nav-icon-import-back {
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
}

.nav-icon-import-back:hover{
    background-color:  #f8f9fc ;

}

.font-name-subtext{
    font-size: 12px;
    color: #4d4d4d !important;
}

.font-name-filter{
  color: #000000 !important;
  font-weight: 700;
}

.container-filter{
    height: auto;
    width: 230px;
    
}

.cantainer-input{
    font-size: 12px;
    font-weight: 600;
    color: #000000 ;
    


}

/*filtro busca*/
.form-label{
    color: #000000 !important;
    font-size: 12px;
    font-weight: bold;
}

.font-filtre{
    font-weight: bold;
    color: #000000 !important;
    

}

.compact-text {
        font-size: 0.8rem; /* 0.8rem é cerca de 80% do tamanho da fonte padrão, ideal para compactar */
    }
    /* Estilo para ajustar os inputs, caso necessário */
.form-control-sm-custom {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
    }



.dados-tabela{
    color: #000000 !important;
    font-size: 12px;
}