{% load static %}
<ul class="navbar-nav bg-gradient-white sidebar sidebar-dark accordion border-right" id="accordionSidebar">

  <a class="sidebar-brand d-flex align-items-center justify-content-start" href="{% url 'home' %}">
    <div class="sidebar-brand-icon">
        <img src="{% static 'img/logo-17bpm.png' %}" alt="17BPM Logo" class="img-fluid logo-siop">
    </div>
    <div class="d-flex flex-column text-left ml-1"> 
        <span class="font-weight-bold text-dark siop-title">SIOP</span>
        <span class="text-muted small siop-subtitle">Sistema de Inteligência<br>Ocorrências Policiais</span>
    </div>
</a>

  <hr class="sidebar-divider hr-light-secondary mx-n3">


    <div class="sidebar-heading text-secondary ml-2">
        NAVEGAÇÃO PRINCIPAL
    </div>

    

     <li class="nav-item">
    <a class="nav-link text-dark" href="#">
            <img src="{% static 'img/painel-de-controle.png' %}" class="nav-icon" alt="Ícone">
            <span class="font-name">Dashboard</span>
    </a>
</li>
    
   

     <li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <img src="{% static 'img/logo_carregar.png' %}" class="nav-icon" alt="">
        <span class="font-name">Importar Dados</span>
    </a>
</li>
    
    
    
    
    <li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <img src="{% static 'img/lupa.png' %}" class="nav-icon" alt="">
        <span class="font-name">Busca Avançada</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <img src="{% static 'img/notificacao.png' %}" class="nav-icon" alt="">
        <span class="font-name">Alertas</span>
        <span class="badge badge-danger badge-counter">1</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="#">
        <img src="{% static 'img/adicionar-usuario.png' %}" class="nav-icon" alt="">
        <span class="font-name  " >Usuários</span>
    </a>
</li>

    

    <hr class="sidebar-divider">

    <div class="sidebar-heading text-secondary ml-2 mt-3">
        INFORMAÇÕES
    </div>

    <li class="nav-item">
    <a class="nav-link text-dark" href="#">
            <img src="{% static 'img/designer-de-web.png' %}" class="nav-icon" alt="">
            <span class="font-name">Sobre o Sistema</span>
    </a>
</li>

    



</ul>