{% extends '_base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid py-4" style="background-color: #faf9ff; min-height: 100vh; ">

    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4  mt-4" >
        <div class="d-flex align-items-center">
            <div class="rounded-3 d-flex align-items-center justify-content-center me-3"
                 style="background: linear-gradient(135deg, #a500ff, #ff00a8); width: 50px; height: 50px; border-radius: 10px;">
                <i class="fas fa-shield-alt text-white fa-lg"></i>
            </div>
            <div class="ml-3">
                <h4 class="fw-bold mb-1 text-dark">Painel de Monitoramento</h4>
                <p class="text-muted mb-0 fw-semibold" style="color: #8a45d8 !important;">
                    Violência Doméstica Contra a Mulher
                </p>
            </div>
        </div>

        <button class="btn fw-semibold px-3 py-2" style="background-color:#f4e8ff; color:#a500ff; border-radius: 10px;">
            <i class="fas fa-database me-2"></i> Dados Atualizados
        </button>
    </div>


    <!-- Cards de Indicadores -->
    <div class="row g-4 ">

        <!-- Total de Ocorrências -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow-sm h-100 py-3" style="border-radius:20px;">
                <div class="card-body d-flex align-items-center">
                    <div class="me-3 rounded-3 d-flex align-items-center justify-content-center"
                         style="background-color:#7b3ff2; width:45px; height:45px; border-radius: 10px; ">
                        <i class="fas fa-file-alt fa-lg" style="color:#fafafa;"></i>
                    </div>
                    <div class="ml-3">
                        <h6 class=" mb-1" style="color: #000000; font-size: 15px">Total de Ocorrências</h6>
                        <h3 class="fw-bold mb-0 " 
                        style="color: #000000; font-weight: bold;">{{ total_ocorrencias}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reincidência de Agressores -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow-sm h-100 py-3" style="border-radius:20px;">
                <div class="card-body d-flex align-items-center">
                    <div class="me-3 rounded-3 d-flex align-items-center justify-content-center"
                         style="background-color:#ff0000; width:45px; height:45px; border-radius: 10px;">
                        <i class="fas fa-user-times fa-lg" style="color:#ffffff;"></i>
                    </div>
                    <div class="ml-3">
                        <h6 class=" mb-1" style="color: #000000; font-size: 15px">Reincidência de Agressores</h6>
                        <h3 class="fw-bold mb-0" style="color: #000000; font-weight: bold;">{{ taxa_reincidencia_agressor}}%</h3>
                    </div>
                </div>
            </div>
        </div>

          <!-- Reincidência de Vítimas -->
         <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow-sm h-100 py-3" style="border-radius:20px;">
                <div class="card-body d-flex align-items-center">
                     <div class="me-3 rounded-3 d-flex align-items-center justify-content-center"
                         style="background-color:#00a65a; width:45px; height:45px; border-radius: 10px;">
                        <i class="fas fa-shield-alt fa-lg" style="color:#ffffff;"></i>
                    </div>
                    <div class="ml-4">
                        <h6 class=" mb-1" style="color: #000000; font-size: 15px">Reincidência de Vítimas</h6>
                        <h3 class="fw-bold mb-0" style="color: #000000; font-weight: bold;">{{ taxa_reincidencia_vitimas }}%</h3>
                    </div>
                </div>
            </div>
        </div>

          <!-- ocorrencias com medidas protetivas  -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow-sm h-100 py-3" style="border-radius:20px;">
                <div class="card-body d-flex align-items-center">
                    <div class="me-3 rounded-3 d-flex align-items-center justify-content-center"
                         style="background-color:#f39c12; width:45px; height:45px; border-radius: 10px;">
                        <i class="fas fa-user fa-lg" style="color:#ffffff;"></i>
                    </div>
                    <div class="ml-4">
                        <h6 class=" mb-1" style="color: #000000; font-size: 15px">Medidas Protetivas</h6>
                        <h3 class="fw-bold mb-0" style="color: #000000; font-weight: bold;">{{ proporcao_medidas }}%</h3>
                    </div>
                </div>
            </div>
        </div>

      

      

       

    </div>

    

 

   <!-- Gráficos -->
<div class="row mt-5">
    <div class="col-lg-7 mb-4">
        <div class="card shadow-sm border-0" style="border-radius:20px;">
            <div class="card-body">
                <h6 class="fw-bold mb-3">Ocorrências por Mês</h6>
                <canvas id="graficoMes"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-5 mb-4">
        <div class="card shadow-sm border-0" style="border-radius:20px;">
            <div class="card-body">
                <h6 class="fw-bold mb-3">Top 5 Cidades com Maior Incidência</h6>
                <canvas id="graficoCidades"></canvas>
            </div>
        </div>
    </div>
</div>





    
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const chartData = {
        labelsMeses: JSON.parse('{{ labels_meses|escapejs }}'),
        valoresMeses: JSON.parse('{{ valores_meses|escapejs }}'),
        labelsCidades: JSON.parse('{{ labels_cidades|escapejs }}'),
        valoresCidades: JSON.parse('{{ valores_cidades|escapejs }}'),
    };
</script>


<script src="{% static 'js/dashboard_charts.js' %}" defer></script>



{% endblock %}